body {
  margin: 0;
  padding: 0;
  color: #8c7d7d;
}
.screen {
  margin-top: 0;
  background-color: #dbd0d0;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
}
.header {
  height: 70px;
  outline: 1px dashed #918884;
}
.nav {
  height: 30px;
  outline: 1px dashed #918884;
}
.side-menu {
  margin: 5px;
  float: left;
  width: 250px;
  min-height: 300px;
  outline: 1px dashed #918884;
}
.content {
  margin: 5px;
  margin-left: 260px;
  padding: 10px;
  min-height: 300px;
  outline: 1px dashed #918884;
}
.footer {
  height: 50px;
  outline: 1px dashed #918884;
}
